[submodule "PhysicsSamples/Assets/submod/particleNumber"]
	path = PhysicsSamples/Assets/submod/particleNumber
	url = https://gitee.com/iceRabbit/unity-particle-number.git
[submodule "PhysicsSamples/Assets/submod/inventorySytem"]
	path = PhysicsSamples/Assets/submod/inventorySytem
	url = https://gitee.com/iceRabbit/inventory-sytem.git
